.landing {
    height: 100vh;
    background: url('../../../images/shop.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mission-statment {
    height: 50vh;
    background: red;
}

.service {
    height: 50vh;
    background: blue;
}