@import '_config';

* {
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Roboto Mono, sans-serif;
}

a {
    text-decoration: none;
}

main {
    height: 100%;
    width: 100%;
}

button {
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 3px;
}

.first-word {
    color: $mainRed;
    font-size: 2rem;
}


// .underline {
//     height: 3px;
//     width: 100%;
//     background: $mainRed;
// }