* {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
}

main {
  height: 100%;
}

/* COMPONENTS */
/* //////////////////////////////////////////////////////////////////////////// */

/* Header */
header {
  height: 150px;
}

/* Footer */

footer {
  height: 150px;
}

/* HOME PAGE */
/* //////////////////////////////////////////////////////////////////////////// */

/* Landing (home) */
.banner{
  height: 25vh;
  background: green;
}


/* Service (home)  */

.service-section{
  height: 25vh;
  background: yellow;
}

/* Mission Statment (home) */

.mission-statment{
  height: 50vh;
  background: blue;
}

/* Brands (home) */

.brands {
  height: 50vh;
  background: black;
}


/* ABOUT PAGE */
/* /////////////////////////////////////////////////////////////////////////////////// */

/* About Banner */
.about-banner{
  height: 50vh;
  background: black;
  color: #fff;
}

.about-text{
  height: 50vh;
  text-align: center;
}

/* SERVICE PAGE */
/* /////////////////////////////////////////////////////////////////////////////////// */

/* GALLERY PAGE */
/* ///////////////////////////////////////////////////////////////////////////////////// */

/* CONTACT PAGE */
/* ///////////////////////////////////////////////////////////////////////////////////// */

/* 404 PAGE */
/* ///////////////////////////////////////////////////////////////////////////////////// */
