@media (max-width: 950px) {
    .service-landing {
        height: 65vh;
        &-text{
            font-size: 2rem;
        }
    }
    
    .common-questions{
        &-card-container {
            flex-direction: column;
        }
    }
    
    .auto-body-repair{
        flex-direction: column;
        margin: 25px 0;
        &-content{
            order: 1;

            &-list{
                flex-direction: column;
            }
        }
        &-img{
            img {
                width: 350px;
                height: 325px;
            }
        }
    }
    
    .contact-banner {
        h3 {
            font-size: 1rem;
        }
    }
}